body {
    background: white;
    color: black;
    font-family: Arial;
    padding: 40px;
}

h1 {
    margin-bottom: 30px;
}

.tarefa{
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 600px;
}

.tarefa {
    display: block;
    background: #1e1e1e;
    border: 1px solid #444;
    padding: 20px;
    color: white;
    text-decoration: none;
}

.tarefa:hover {
    background: #292929;
}

.tarefa-titulo {
    font-size: 20px;
    margin-bottom: 8px;
}

.tarefa-descricao {
    color: #aaa;
}
