@import url('https://fonts.googleapis.com/css2?family=Datatype:wght@100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Datatype", monospace ;
}
/*barra de cima*/
.navbar{
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    height: 100px;
    display: flex;
    background-color: #DBEBC0;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid gray;
}

/*todos items no centro*/
.content{
    margin-top: 100px;
    margin-left: 150px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner{
   
    margin-top: 100px;
    width: 70%;
    background-color: #C6E4A7;

}
.banner h1{
    text-align: center;
    font-size: 80px;
}
.banner p{
    background-color: #DBEBC0 ;
    color: #6F8F4F;
    display: inline-block;
}
/*barra lateral*/
.ladobar{
    display: flex;
    flex-direction: column;
    left: 0;
    top: 100px;
    height: calc(100vh - 100px);
    width: 150px;
    background-color: #DBEBC0;  
    border-right: 1px solid gray;    
    text-align: center;
    position: fixed;
}
.ladobar ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
    padding: 20px;
    list-style: none;
    height: 100%;
}

.ladobar li {
    padding-bottom: 10px;
    transition: background-color 0.2s ease;
    border-radius: 20px;
    
    line-height: 30px;
}
.ladobar li:hover{
    background-color: #C6E4A7;
    cursor: pointer;
}
.ativo{
    background-color: #C6E4A7 !important;
    color: #6F8F4F ;
}
